<div class="page" data-ng-class="{'page--main': !userLoggedIn}">

  <div class="container center" data-ng-if="!userLoggedIn">
    <h1 class="header center teal-text text-lighten-2 mainpage__headline">Welcome to Drone Cafe!</h1>
    <h5 class="header col s12 light white-text center mainpage__subheadline">World-first cafe served by drones</h5>
    <button class="btn-large waves-effect waves-light teal lighten-1 mainpage__button z-depth-3" data-ng-click="openLoginPopup()">Make an order</button>
  </div>

  <div class="container" data-ng-if="userLoggedIn">
    <div class="row">
      <div class="col s6">
        <h3>Your account</h3>
        <h5>{{ user.name }}</h5>
        <p>{{ user.balance }} galactic credits</p>
        <button class="waves-effect waves-light btn" data-ng-click="addFunds()">Add funds</button>
      </div>
      <div class="col s6">
        <h3>Your order</h3>
        <ul class="collection">
          <li class="collection-item" ng-repeat="dish in userOrderedDishes">
            <div>{{dish.dishName}}<span class="secondary-content">{{dish.status}}</span></div>
          </li>
        </ul>
        <button class="waves-effect waves-light btn" data-ng-click="showDishes()">Add dishes</button>
      </div>
    </div>

    <div class="row" data-ng-if="dishesDisplayed">
      <h3>Choose dishes</h3>
      <p ng-repeat="dish in dishes">{{dish.title}}</p>
    </div>
  </div>

  <div id="loginPopup" class="modal login-popup">
    <div class="modal-content">
      <h4>Log in</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="user_name" type="text" class="validate" data-ng-model="newUser.name">
              <label for="first_name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="user_email" type="email" class="validate" data-ng-model="newUser.email">
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn" ng-click="logIn(newUser)">Log in</button>
    </div>
  </div>

</div>