body{
  position:  relative;
}

.mainpage__navigation{
  position: absolute;
  top: 0;
  left: 0;
}

.page{
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;

  background-color: #ebebeb;
}

.page--main{
  padding-top: 20vh;
  padding-bottom: 20vh;

  background-color: green;

  h1, h5{
    color: rgba(255,255,255,.9);
  }
}
.mainpage__jumbotron{

}

.mainpage__footer{
  padding-top: 0 !important;
  margin-top: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}