body{
  position:  relative;
}
html{
  // font-family: 'Open Sans', sans-serif;
}

.mainpage__navigation{
  position: absolute;
  top: 0;
  left: 0;
}

.page{
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;

  background-color: #ebebeb;
}

.page--main{
  padding-top: 15vh;
  padding-bottom: 20vh;

  // background-color: green;
  background-image: url('../img/bg1920x1280.jpg');
  background-size: cover;
  // background-size: auto 100%;
  background-position: 0 -70px;
  // background-position: 0 0;
  background-repeat: no-repeat;
}

.mainpage__headline{
  margin-bottom: 0px;

  font-weight: bold;
  // text-transform: uppercase;
}
.mainpage__subheadline{
  margin-bottom: 140px;

  // font-weight: bold;
}
.mainpage__button{
}

.mainpage__jumbotron{

}

.mainpage__footer{
  padding-top: 0 !important;
  margin-top: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}